.App {
  text-align: center;
  background-image: url("./pics/wallpaper.jpg");
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Italianno", cursive, bold;
}

#time-left {
  font-family: "Orbitron", sans-serif;
}

.box {
  border-color: rgba(11, 15, 58, 0.555);
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  background-color: darkgray;
}

.action {
  padding-top: 120px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h5 {
  font-size: 32px;
  margin: 1.5rem;
}
